body {
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
a {
  color: seashell;
}
header {
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 5;
  height: 69px;
  position: fixed;
}
header img {
  padding-left: 10px;
  height: 50px;
}
nav {
 justify-content: flex-end;
}
.flex {
  display: flex;
  justify-content: center;
}
